<!-- <app-home-timeline></app-home-timeline> -->

<!-- <app-user-timeline></app-user-timeline> -->



<!-- <app-tweeter-left-navbar></app-tweeter-left-navbar> <router-outlet></router-outlet> <app-tweeter-right-navbar></app-tweeter-right-navbar> -->
<div class="main-container" [ngClass]="{'auth-page': !shouldShowNavbars()}">
  <!-- Only show navbars and blank spaces if not on login/signup pages -->
  <ng-container *ngIf="shouldShowNavbars()">
    <div class="blank-space"></div>
    <app-tweeter-left-navbar class="left-navbar"></app-tweeter-left-navbar>
  </ng-container>
  
  <!-- Main Content Area (Router Outlet) -->
  <div class="center-content" [ngClass]="{'full-width': !shouldShowNavbars()}">
    <router-outlet></router-outlet>
  </div>

  <!-- Only show navbars and blank spaces if not on login/signup pages -->
  <ng-container *ngIf="shouldShowNavbars()">
    <app-tweeter-right-navbar class="right-navbar"></app-tweeter-right-navbar>
    <div class="blank-space"></div>
  </ng-container>
</div>
  