<div class="left-navbar">
    <!-- User Info Section -->
    <div class="user-info">
      <img class="user-profile-pic" src="https://i.pravatar.cc/50?img=1" alt="User Profile">
      <div class="user-details">
        <span class="user-name">Alok Sharma</span>
        <span class="user-handle">Alpha</span>
      </div>
    </div>
  
    <!-- Navigation Links -->
    <ul class="nav-links">
      <li><a href="#" class="nav-link home">Home</a></li>
      <li><a href="#" class="nav-link notifications">Notifications</a></li>
      <li><a href="#" class="nav-link profile">Profile</a></li>
      <li><a href="#" class="nav-link logout">Post</a></li>
      <li><a href="#" class="nav-link logout">Logout</a></li>
    </ul>
  
  </div>
  