/* Left Navbar Styling */
.left-navbar {
    width: 295px;
    height: 100vh;
    background-color: #f9f9f9;
    padding: 20px 15px;
    /* box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); */
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Align content to start from the top */
  }
  
  /* User Info Section */
  .user-info {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
  }
  
  .user-profile-pic {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: 15px;
  }
  
  .user-details {
    display: flex;
    flex-direction: column;
  }
  
  .user-name {
    font-weight: bold;
    font-size: 16px;
    color: #1d9bf0; /* Twitter Blue */
  }
  
  .user-handle {
    font-size: 14px;
    color: #657786; /* Twitter Light Gray */
  }
  
  /* Navigation Links */
  .nav-links {
    list-style-type: none;
    padding: 0;
    margin: 0;
    flex-grow: 1; /* Ensures the links push the post button to the bottom */
  }
  
  .nav-links li {
    margin: 15px 0;
  }
  
  .nav-link {
    text-decoration: none;
    font-size: 16px;
    color: #1d9bf0; /* Twitter Blue */
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 50px;
    transition: background-color 0.2s ease;
  }
  
  .nav-link:hover {
    background-color: #e8f5fe; /* Light Blue on hover */
  }
  
  
  
  /* Responsive Styles */
  @media screen and (max-width: 768px) {
    .left-navbar {
      width: 100%;
      padding: 10px;
    }

  }
  